@import "_common";
@import "_variables";

#listGames {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.darkenScreen {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  display: none;
  z-index: 3;
}

h1 {
  //color: white;
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
}

.gameContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 225px;
  border: 0px solid gray;
  border-radius: 1%;
  background-color: $bg-color-trans;
  margin: 1%

}

.gameName, .gameInfo {
  text-align: left;
}

.gameName {
  font-size: larger;
  font-weight: 700;
}

.gameImage {
  min-height: 225px;
  margin: auto;
}

.gameInfo {

  background-color: rgba(200, 200, 200, 0.8);
}

#popUp {
  position: absolute;
  border-radius: 3%;
  top: 20%;
  left: 20%;
  width: 60%;
  z-index: 50;
  background-color: $light-acc1;
  display: none;
  //display: flex;
  flex-direction: column;
  align-items: center;

  .topRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    *{
      width: 20%;
    }

    #gameName {
    }
    #contributor {
    }
    #liveSince {
    }
    #closePopUp {
      display: block;
      cursor: pointer;
      text-align: right;
    }
  }

  .imageContainer {
    margin: auto;
  }
  .gameInfo{

    .description {
    }
    .rating {}

  }
  .checkItOut {}
}